# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Node modules
node_modules/

# React build output
client/build/

# Environment variables
client/.env

# Other common ignores
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-service-account.json
